/*
!.gitignore
!mix.exs
!README.md
!lib
lib/dog_breeds
!lib/dog_breeds_web/
lib/dog_breeds_web/*
!lib/dog_breeds_web/live/
lib/dog_breeds_web/live/*
!lib/dog_breeds_web/live/sub_breeds_live/
lib/dog_breeds_web/live/sub_breeds_live/*
!lib/dog_breeds_web/live/sub_breeds_live/index*

!lib/dog_breeds/
lib/dog_breeds/*
!lib/dog_breeds/breeds*
lib/dog_breeds/breeds.ex
lib/dog_breeds/breeds/sub_breeds.ex

lib/dog_breeds.ex
lib/dog_breeds_web.ex
